<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
	<%
		var id = page_options.id;
		var broker_name = '';
		var broker_key  = '';
		var delete_url  = '';
		if (typeof id != 'undefined')
		{
			var broker_settings = database_module.getBroker(id);
			broker_name = broker_settings['name'];
			broker_key  = broker_settings['key'];
			delete_url = "delete_broker?id="+id;
		}
		else
		{
			id = '';
		}
	%>
	<%=id%>
	</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/one-page-wonder.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar-inverse navbar-static-top" role="navigation" style="width:100%">
		<div class="container" style="margin-top:-50px;">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">Lab Server</a>
	        </div>
	        <div class="collapse navbar-collapse navbar-ex1-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="dashboard"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
	            <li class="active"><a href="brokers"><span class="glyphicon glyphicon-cloud"></span> Brokers</a></li>
	          </ul>
			  <ul class="nav navbar-nav navbar-right navbar-user">
	            <li class="dropdown user-dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user"></span><b class="caret"></b> 
					Admin
					</a>
	              <ul class="dropdown-menu">
	                <li><a href="/profile"><i class="fa fa-gear"></i> My Account</a></li>
	                <li class="divider"></li>
	                <li><a href="/logoff"><i class="fa fa-power-off"></i> Log Out</a></li>
	              </ul>
	            </li>
	          </ul>
	        </div>
		</div>
    </nav>
	<form role="form" action="/edit_broker" method="post">
		<input type="hidden" name="old_identifier" value="<%=id%>">
	    <div class="container">
	      <div id="page-wrapper" style="margin-top:50px">
			<div class="row">
	          	<div class="col-lg-12">
					<table style="width:100%">
						<tr>
							<td>
							 	 <div class="form-group">
					               <label>Name</label>
					               <input class="form-control" id="vendor-name" name="name" value="<%= broker_name%>">
					             </div>
							</td>
						</tr>
					</table>
					<table style="width:100%">
						<tr>
							<td>
						 		<div class="form-group">
						    		<label>Identifier</label>
					        		<input class="form-control" id="broker-guid" name="guid" value="<%=id%>">
					        	</div>
							</td>
							<td align="right" valign="middle" style="width:90px">
								<button type="button" class="btn btn-default" style="top:5px;position:relative;" onClick="generateRandom('broker-guid')">
									Generate
								</button>
							</td>
						</tr>
						<tr>
							<td>
						 		 <div class="form-group">
					                <label>Key</label>
					                <input class="form-control" id="broker-key" name="passkey" value="<%= broker_key%>">
					             </div>
							</td>
							<td align="right" valign="middle" style="width:90px">
								<button type="button" class="btn btn-default" style="top:5px;position:relative;" onClick="generateRandom('broker-key')">
									Generate
								</button>
							</td>
						</tr>
					</table>
					<div align="right">

						<% if (id && id != '')
						   {
						%>
						<a href="<%=delete_url%>" class="btn btn-danger" style="top:8px;position:relative;width:85px">Delete</a>
						<% } %>

						<a href="/brokers" class="btn btn-warning" style="top:8px;position:relative;width:85px">
							Cancel
						</a>
						<button type="submit" class="btn btn-primary" style="top:8px;position:relative;width:85px">
							<i class="fa fa-save"></i> &nbsp;Save
						</button>
					</div>
				</div>
			</div>
	      </div><!-- /#page-wrapper -->
	    </div><!-- /#wrapper -->
	</form>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="js/functions.js"></script>
  <body>
</html>