<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Lab Server - Login</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  </head>
  <body>
	<div id="container" style="max-width:300px;margin-left: auto;margin-right:auto">
		<h1>Login <small></small></h1>
		<div class="row">
			<div class="col-lg-12">
				<form role="form" action="/login" method="post">
					<div class="form-group">
						<label>Username</label>
						<input class="form-control" name="username" id="username-field">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input class="form-control" name="password" type="password">
					</div>
					<div align="right">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div><!-- /#container -->
	<script>document.getElementById('username-field').focus();</script>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
  <body>
</html>