</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/admin.css" rel="stylesheet">
	<script src="functions.js"></script>
</head>
<body>

<!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a class="navbar-brand" href="#">Service Broker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="profile">My Profile</a></li>
                    </ul>
                </li>
                <li><a href="logoff"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
        </div>
    </div><!-- /container -->
</div><!-- /Header -->

<!-- Main -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li class="nav-header"><a href="#" data-toggle="collapse" data-target="#userMenu">
                    <h5>Settings</h5>
                </a>
                    <ul class="list-unstyled collapse in" id="userMenu">
                        <li><a href="general"><i class="glyphicon glyphicon-edit"></i> General</a></li>
                        <li><a href="labs"><i class="glyphicon glyphicon-globe"></i> Labs</a></li>
                        <li><a href="agents"><i class="glyphicon glyphicon-cog"></i> Agents</a></li>
                        <li><a href="logs"><i class="glyphicon glyphicon-wrench"></i> Logs</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /col-3 -->

        <!-- Page title -->
        <div class="col-md-9">

            
       