<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Broker admin panel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  </head>

  <body>
	
    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

	<!-- Custom page script -->
	<script>
		var broker =
		{
			host: window.location.hostname,
			port: window.location.port ? window.location.port : 80
		};
	
		function getBrokerInfo(call_func)
		{
			$.ajax({
	                 dataType: 'jsonp',
	                 data: "action=getBrokerInfo",                      
	                 jsonp: 'callback',
	                 url: 'http://'+ broker.host + ":"+ broker.port+'/noauth-jsonp?callback=?',                     
	                 success: function callback(data) {
				call_func(data);
			}});
		}
		function getLabList(call_func)
		{
			$.ajax({
                    dataType: 'jsonp',
                    data: "action=getLabList",                      
                    jsonp: 'callback',
                    url: 'http://'+ broker.host + ":"+ broker.port+'/noauth-jsonp?callback=?',                     
                    success: function callback(data) {
						call_func(data);
					}
               	});
		}
		function getLabInfo(labid, call_func)
		{
			$.ajax({
                    dataType: 'jsonp',
                    data: "action=getLabInfo&id="+labid,                      
                    jsonp: 'callback',
                    url: 'http://'+ broker.host + ":"+ broker.port+'/admin-ui?callback=?',                     
                    success: function callback(data) {
						call_func(data);
					}
               	});
		}
		function getLabConfiguration(lab_id, call_func)
		{
			$.ajax({
                    dataType: 'jsonp',
                    data: "action=getLabConfiguration&id="+lab_id,                      
                    jsonp: 'callback',
                    url: 'http://'+ broker.host + ":"+ broker.port+'/noauth-jsonp?callback=?',                     
                    success: function callback(data) {
						call_func(data);
					}
               	});
		}

		function clearForm()
		{
			var hostField = document.getElementById("create-host");
			var keyField = document.getElementById("create-password");
			var serviceField = document.getElementById("create-service");
			var identifierField = document.getElementById("create-identifier");

			hostField.value="";	
			keyField.value="";
			serviceField.value="";
			identifierField.value="";
		}

		function modifyServer(labid)
		{
			var hostField = document.getElementById("create-host");
			var keyField = document.getElementById("create-password");
			var serviceField = document.getElementById("create-service");
			var identifierField = document.getElementById("create-identifier");

			clearForm();
			getLabInfo(labid, function(data)
			{
				var host = data['host'];
				var key = data['key'];
				var service = data['service'];

				addExperimentServer(true, true, labid);
				hostField.value = host;
				keyField.value = key;
				serviceField.value = service;
			});
		}

		function hideAll()
		{
			var experimentDiv = document.getElementById("experiment-div");
			var optionsDiv = document.getElementById("options-div");
			var panelTitle = document.getElementById("create-title");
			var experimentContent = document.getElementById('experiment_content');
			var deletePanel = document.getElementById('delete_view');

			deletePanel.style.display='none';
			optionsDiv.style.display = 'none';
			experimentContent.style.display='none';
			experimentDiv.style.display = 'none';
		}

		function cancelDelete()
		{
			var experimentDiv = document.getElementById('experiment-div');

			hideAll();
			experimentDiv.style.display='block';
		}

		function confirmDelete()
		{
			hideAll();
			addExperimentServer(false, false, false);
		}

		function deleteExperiment()
		{
			hideAll();

			var deleteId = document.getElementById('hidden-identifier-delete');
			var hiddenId = document.getElementById('hidden-identifier');
			deleteId.value = hiddenId.value;

			var deletePanel = document.getElementById('delete_view');
			deletePanel.style.display='block';
		}

		function addExperimentServer(show, modify, labid)
		{
			clearForm();

			var experimentDiv = document.getElementById("experiment-div");
			var optionsDiv = document.getElementById("options-div");
			var panelTitle = document.getElementById("create-title");
			var experimentContent = document.getElementById('experiment_content');
			var deletePanel = document.getElementById('delete_view');
	
			deletePanel.style.display='none';
			if (show)
			{
				optionsDiv.style.display = 'none';
				experimentContent.style.display='none';
				experimentDiv.style.display = 'block';
			}
			else
			{
				optionsDiv.style.display = 'block';
				experimentContent.style.display='block';

				experimentDiv.style.display = 'none';
			}

			if (modify)
			{
				panelTitle.innerHTML = "Modify Lab Server";
			}
			else
			{
				panelTitle.innerHTML = "Add Lab Server";
			}

			var hiddenField = document.getElementById("hidden-identifier");
			if (labid)
			{
				hiddenField.value = labid;

				var identifierField = document.getElementById("create-identifier");
				identifierField.value = labid;
				identifierField.focus ();
			}
			else
			{
				hiddenField.value = "";

				var text_input = document.getElementById ('create-identifier');
				text_input.focus ();
				text_input.select ();
			}
		}
	</script>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Admin Panel</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="/"><i class="fa fa-edit"></i> About</a></li>
			<li><a href="user"><i class="fa fa-user"></i> Users</a></li>
			<li><a href="stats"><i class="fa fa-bar-chart-o"></i> Statistics</a></li>
			<li><a href="debug"><i class="fa fa-wrench"></i> Maintenance</a></li>
            <li class="active"><a href="servers"><i class="fa fa-desktop"></i> Experiments</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-gear"></i> My Account</a></li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
         <div class="col-lg-12">
           <h1>Experiments<small></small>
				
			</h1>
           	<div id="options-div">
			<div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Modify Server</button>
              <ul class="dropdown-menu" id="experiment-list">
              </ul>
           	 </div><!-- /btn-group -->

			<button type="button" class="btn btn-default" onClick="addExperimentServer(true, false)">Add Server</button>
           </div>
         </div>
        </div><!-- /.row -->

		<br/>
		
		<form role="form" action="/delete-server" method="post">
			<div class="alert alert-danger fade in" id="delete_view" style="display:none">
		       <h4>Are you sure you want to delete this experiment?</h4>
		       <p>You cannot undo this action.</p>
		       <p>
				 <input name="hidden-identifier" type="hidden" id="hidden-identifier-delete">
		         <button type="submit" class="btn btn-danger">Delete</button>
		         <button type="button" onClick="cancelDelete()" class="btn btn-default">Cancel</button>
		       </p>
		   	</div>
		</form>

		<form role="form" action="/save-servers" method="post">
			<div class="row" id="experiment-div" style="display:none">
			     <div class="col-lg-12">
						<!--<button type="button" class="btn btn-primary" style="position:absolute;right:17px;top:2px;">Delete</button>-->
						<div class="panel panel-primary">
				             <div class="panel-heading">
				               <h3 class="panel-title" id="create-title">Add Lab Server</h3>
				             </div>
				             <div class="panel-body">
								<input name="hidden-identifier" type="hidden" id="hidden-identifier">
								<div class="form-group">
					               	<label>Identifier</label>
					               	<input name="identifier" class="form-control" id="create-identifier" placeholder="New Lab Server">
					            </div>
					            <div class="form-group">
					               	<label>Host</label>
					               	<input name="host" class="form-control" id="create-host" placeholder="ilab.example.com:3000">
					            </div>
								<div class="form-group">
					               	<label>Service</label>
					               	<input name="service" class="form-control" id="create-service" placeholder="/LabServer/LabServerWebService.asmx">
					             </div>
								<div class="form-group">
					               	<label>Password</label>
					               	<input name="passkey" class="form-control" id="create-password" >
					             </div>
								<div class="form-group" align="right">
									<button type="button" class="btn btn-danger"  style="width:80px;position:absolute;left:30px" onClick="deleteExperiment()">Delete</button>
									<button type="button" class="btn btn-default" style="width:80px" onClick="addExperimentServer(false, false)">Cancel</button>
									<button type="submit" class="btn btn-primary" style="width:80px">Save</button>
								</div>
				            </div>
				        </div>
				</div>
			</div>
		</form>
		<br/>
		<div class="row">
			<div id="experiment_content"></div>
		</div>
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

	<!-- Load page script -->
	<script>
		var currentBubble = 0;
		getLabList(function(labs)
		{
			var experimentList = document.getElementById('experiment-list');
			var experimentContent = document.getElementById('experiment_content');

			var i;
			for (i=0; i < labs.length; i++)
			{
				var lab_id = labs[i];
				experimentList.innerHTML+=("<li><a href=\"#\" onClick=\"modifyServer('"+ lab_id+"')\">"+lab_id+"</a></li>");
				experimentContent.innerHTML+="<div class=\"col-xs-4\"><div id=\"panel_" + lab_id + "\" class=\"panel panel-warning\"><div class=\"panel-heading\"><font style=\"font-size: 16px;\" class=\"panel-title\" id=\"create-title\">"+ lab_id +"</font><button style=\"right:0px; position:absolute; margin-right: 18px; margin-top: -7px\" type=\"button\" class=\"btn btn-warning\" onClick=\"modifyServer('"+lab_id+"')\" id=\"panel_button_" + lab_id + "\">Edit</button></div><div class=\"panel-body\" align=\"center\" style=\"height:180px\"><img id=\"panel_image_" + lab_id + "\" style=\"height:100%\" src=\"\"/><p align=\"center\" id=\"panel_error_" + lab_id + "\" style=\"width:100%\"></p></div></div></div>";

				var responseFunction = (function(lab_id)
				{
                   return function(returnedData)
				   {
						var labElement = document.getElementById("panel_" + lab_id);
						var labButton = document.getElementById("panel_button_" + lab_id);
						var labError = document.getElementById("panel_error_" + lab_id);
						var labImage = document.getElementById("panel_image_" + lab_id);

						var error_message = returnedData['error'];
						if (error_message)
						{
							labElement.className = "panel panel-danger";
							labButton.className = "btn btn-danger";
							
							labError.innerHTML = error_message;
							labImage.style['display'] = 'none';
						}
						else
						{
							labElement.className = "panel panel-primary";
							labButton.className = "btn btn-primary";
							labButton.className = "btn btn-primary";
	
						   	var labConfig = returnedData['labConfiguration'];
							console.log(labConfig);
		
							//Find a photo
							var labCamera = labConfig['navmenuPhoto'];
							var photoURL = "";
				
							for (var i = 0; i < labCamera.length; i++)
							{
								var urls = labCamera[i]['image'];
								for (var a = 0; a < urls.length; a++)
								{
									labImage.src = urls[a];
								}
							}
						}
                   };
                })(lab_id);

				//Load the image associated with this
				getLabConfiguration(lab_id, responseFunction);
			}

		});
	</script>

    <!-- Page Specific Plugins -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="js/morris/chart-data-morris.js"></script>
    <script src="js/tablesorter/jquery.tablesorter.js"></script>
    <script src="js/tablesorter/tables.js"></script>

  </body>
</html>
